@media only screen and (max-width: 900px) {
    html{
       overflow-x: hidden !important;
    }

    body{
       overflow-x: hidden !important;
       width: 100%;
       height: 100vh;
    }

    main{
        width: 100%;
        height: 648px;
        box-shadow: none;
    }

    #menu {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    #titulo{
        font-size: 2.6em;
        text-align: center;
    }

    .modo_noturno {
        position: relative;
        right: 0;
    }

    .butoes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu_celular {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #btn_celular {
        background: var(--cor-preta);
        display: block;
        width: 35px;
        height: 5px;
        cursor: pointer;
        margin-bottom: 0.7pc;
        margin-top: 1pc;
    }
    
    #btn_celular::before,
    #btn_celular::after {
            background: currentColor;
            content: '';
            display: block;
            width: 35px;
            height: 5px;
            position: relative;
            transition: 0.5s ease-in-out;
    
    }
    
    #btn_celular:before {
        top: -10px;
    }
    
    #btn_celular:after {
        bottom: -6px;
    }
    
    #menu_celular.active #btn_celular {
        transform: rotate(45deg);
    }
    
    #menu_celular.active #btn_celular:before {
        transform: rotate(90deg);
        top: 0;
    }
    
    #menu_celular.active #btn_celular:after {
            transform: rotate(90deg);
            bottom: 4px;
}
        
    #menu_celular.active #botoes {
        height: 30vh;
    }


    #botoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 0vh;
            transition: 1.2s;
            overflow-y: hidden;
            background-color: rgba(0, 0, 0, 0.73);
    }    
}
